{% extends 'baseFront.html.twig' %}

{% block title %}Participer effectué avec succès
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h3>Participer effectué avec succès</h3>
                    </div>
                    <div class="card-body">
                        <p>Merci pour votre participation!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}