{% extends 'baseBack.html.twig' %}

{% block title %}Theme
{% endblock %}

{% block body %}
	<h4 class="page-title">Détail Thème</h4>

	<div class="page-wrapper" style="width: 919px;">
		<div class="content container-fluid pb-0">
			<div class="card">
				<div class="col-md-12 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb"></ol>
					</nav>
				</div>
				<div class="content">
					<div class="container-fluid">
						<div class="row" style="justify-content: center;">
							<div class="page-header">
								<div class="row align-items-center">
									<div class="col-md-12 d-flex justify-content-end">
										<div class="text-right">
											<a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_theme_index') }}">
												<i class="feather-corner-up-left "></i>
												Liste Theme
											</a>
										</div>
									</div>
								</div>
							</div>
						</div><br>
						<div class="card">
							<div class="card-body">
								<table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" ="grid" aria-describedby="DataTables_Table_0_info">

									<tbody>
										<tr>
											<th>IdTheme</th>
											<td>{{ theme.idTheme }}</td>
										</tr>
										<tr>
											<th>NomTheme</th>
											<td>{{ theme.nomTheme }}</td>
										</tr>
										<tr>
											<th>Description</th>
											<td>{{ theme.description }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}